<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class ="editBlog">
                <form action="/" method="post">
                		<h3>Profle :</h3>
                		<h4>First Name <%= user.firstName %></h4>
                		<h4>Last Name  <%= user.lastName %></h4>
                		<h4>First Name <%= user.email %></h4>
                </form>
             </div> 
        </div>
    </div>
</div>
