<h1>Login nkn </h1>

<form method="POST" action="/login">
	<input type="email" placeholder="Email" name="email" /></br>
	<input type="password" placeholder="Password" name="password"/></br>
	<button type="submit">Submit klkkklkl</button>
</form>