
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class ="newBlog">
                <form action="/blogs/new" method="post">
                    <input type="text" class="form-control" placeholder="Blog Title" name="title">
                    <br>
                    <textarea class="form-control" rows="10" placeholder="Description" name="blog"></textarea>
                    <button type="submit" class="btn btn-success pull-right">Create</button>
                </form>
             </div> 
        </div>
    </div>
</div>
