<!--     <header class="intro-header" style="background-image: url('./assets/img/post-bg.jpg')"> -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-heading">
        <h1> <%=blog.title %> </h1>
        <h2 class="subheading"> <%= blog.blog %> </h2>
        <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span>
      </div>
    </div>
  </div>
</div>
<!--    </header> -->

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.</p>

        <h2 class="section-heading">The Final Frontier</h2>

        <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>

        <blockquote>The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>

        <h2 class="section-heading">Reaching for the Stars</h2>

        <p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.</p>

        <a href="#">
          <img class="img-responsive" src="./assets/img/post-sample-image.jpg" alt="">
        </a>
        <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>

      </div>
    </div>
  </div>
</article>


