<!--     <header class="intro-header" style="background-image: url('./assets/img/post-bg.jpg')"> -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-heading">
        <h3> <%=blog.title %> </h3>
        <p>  <%= blog.blog %> </p>
        <p class="post-meta">Posted by <a href="#"> <%= blog.author.firstName %> </a> <%=blog.createdDate%> </p>
      </div>
    </div>
  </div>
</div>


