<h1>Signup</h1>

<form method="POST" action="/signup">
	<input type="email" placeholder="Email" name="email" /></br>
	<input type="password" placeholder="Password" name="password"/></br>
	<button type="submit">Submit</button>
</form>